.containerr {
  /* border: 2px solid ; */
  /* height: 80px; */
  width: 100% !important;
  position: fixed;
  z-index: 10 !important;
  transition: all 0.2s linear;
}

.containerr2 {
  /* border: 2px solid ; */
  /* height: 80px; */
  width: 100% !important;
  position: fixed;
  z-index: 10 !important;
  background-color: white !important;
  transition: all 0.2s linear;
}
.sub_navbar_div {
  /* border: solid 2px; */
  display: flex;
  height: 80px!important;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: all 0.2s linear;
}

.logo_div {
  margin-top: 15px;
  margin-left: 7%;
}
.logo {
  width: 200px;
  color: wheat;
}
.showItem_div {
  /* border: 2px solid; */
  height: fit-content;
  display: none !important;
}
.cl_div {
  display: none;
}
.showItem {
  font-size: 2em !important;
}
.close_div {
  /* border: 2px solid; */
  height: fit-content;
  /* margin-top: 10px; */
  margin-left: -10px;
  display: none;
  padding: 10px;
}
.close {
  font-size: x-large !important;
}
.servicesss:hover > .model_div {
  display: block;
}
.estimate_btn {
  width: 200px;
  border: none;
  outline: none;
  background-color: #4869e8;
  height: 45px;
  font-size: 1em;
  /* padding: 5px; */
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-top: -50px;
}
.nav_and_phoneIcon {
  display: flex;
  margin-top: 20px;
}

/* NAVlIST COMPONENT */

.navList_ul {
  /* border:  2px solid; */
  width: 906px;
  max-width: 906px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
  /* margin-left: 10%; */
}

.navList_ul > li {
  /* color: black; */
  /* border: 2px solid red; */
  align-items: center;
  padding-top: 25px;
  /* color: white; */
}
.servicesss,
.solutions,
.works,
.abouts, 
.contacts,
.resourcess,
.cl_li {
  /* color: black; */
  color: white;
}
.servicesss:hover{
  color: white !important;
}
.works:hover{
  color: white;
}
.contacts:hover{
  color: white;
}
.abouts:hover{
  color: white;
}


.servicesss.act {
  color: black;
}
.solutions.act {
  color: black;
}
.works.act {
  color: black;
}
.abouts.act {
  color: black;
}
.contacts.act {
  color: black;
}
.resourcess.act {
  color: black;
}
.cl_li.act {
  color: black;
}
/* .servicesss:hover,.solutions:hover,.abouts:hover,.resourcess:hover{
    color: black;
} */

.servicesss2:hover,.servicesss2:hover ,.about2:hover,.resourcess2:hover,.contacts2:hover, .work2:hover {
  color: black;
}

.servicesss2,
.solutions2,
.about2,
.resourcess2,
.contacts2,
.work2 {
  color: black;
}
.cl_li2 {
  display: flex;
  margin-top: -30px;
  color: black !important;
}
/* .containerr:hover>.servicesss{
color: red;
} */
/* {
    background-color: white;
    color: black;
} */
.scroll {
  overflow: hidden;
}
.cl_li {
  /* border: 2px solid; */
  display: flex;
  margin-top: -30px;
}
.callIcon {
  font-size: 1.2em !important;
  height: fit-content;
}

/* list 2 from mobile  */

.div_list2 {
  /* border: 2px solid greenyellow; */
  position: absolute;
  /* position: fixed; */
  top: 68px;
  left: 0px;
  width: 100vw;
  background-color: white !important;
  overflow-y: scroll !important;
  height: 1000% !important;
  /* height:fit-content !important ; */
}
.main_list2 {
  /* border: solid 2px red; */
  margin-top: 20px;
}
.list_ul2 {
  /* border: solid 2px; */
  list-style: none;
}
.expand {
  width: 40px !important;
  height: 30px !important;
  font-size: 1em !important;
}
.expnd_btn {
  border: none;
  outline: none;
}
.expand:hover {
  background-color: rgba(228, 224, 224, 0.897);
}

.services,
.solution,
.work,
.about,
.contact,
.resources {
  padding: 5px 15px;
  border-bottom: 1px solid rgb(206, 203, 203);
  display: flex;
  justify-content: space-between;
  height: 40px;
  font-weight: bold;
  /* color: white; */
}
/* .services,.solution,.work,.about,.contact,.resources */

/* MODEL DIV  */

.model_div {
  /* border: solid 2px red; */
  margin-top: -20px;
  /* background-color: cadetblue; */
  z-index: 1;
}

@media screen and (max-width: 1125px) {
  .navList_ul {
    width: 800px;
  }
}
@media screen and (max-width: 1020px) {
  .estimate_btn {
    width: 170px;
    font-size: 0.8em;
    height: 40px;
  }
}
@media screen and (max-width: 990px) {
  .containerr {
    /* border: 2px solid ; */
    /* height: 80px; */
    width: 100% !important;
    position: fixed;
    z-index: 10 !important;
    transition: all 0.2s linear;
  }

  .containerr2 {
    /* border: 2px solid ; */
    /* height: 80px; */
    width: 100% !important;
    position: fixed;
    z-index: 10 !important;
    background-color: white !important;
    transition: all 0.2s linear;
  }
  .sub_navbar_div {
    /* border: solid 2px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: all 0.2s linear;
    padding: 5px 0;
  }

  .estimate_btn,
  .cl_li,
  .navList_ul {
    display: none !important;
  }
  .showItem_div,
  .cl_div,
  .close_div {
    display: block !important;
  }
  .showItem_div {
    margin-right: 20px;
  }
  .cl_div {
    /* border: 2px solid; */
    margin-right: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(116, 207, 238);
    position: relative;
    margin-top: -5px;
    cursor: pointer;
  }
  .phoneIcon {
    color: white;
    font-size: 1.2rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo {
    width: 200px;
    padding-bottom: 10px;
    filter: invert(1);
  }
}
@media screen and (max-width: 990px) {
  .model_div {
    display: none;
  }
}

@media (max-width: 380px) {
  .logo {
    width: 150px;
    padding-bottom: 10px;
    filter: invert(1);
    /* border: 2px solid red; */
  }
  .phoneIcon {
    color: white;
    font-size: 1rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cl_div {
    /* border: 2px solid; */
    margin-right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(116, 207, 238);
    position: relative;
    margin-top: 0px;
    cursor: pointer;
  }
}
@media (max-width: 320px) {
  .logo {
    width: 110px;
    padding-bottom: 10px;
    filter: invert(1);
    /* border: 2px solid red; */
  }
  .phoneIcon {
    color: white;
    font-size: 0.8rem !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cl_div {
    /* border: 2px solid; */
    margin-right: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(116, 207, 238);
    position: relative;
    margin-top: -5px;
    cursor: pointer;
  }
  .showItem_div {
    margin-right: 20px;
    margin-top: -10px;
  }
}
