.bg-web-development {
  background-image: url("https://www.cubix.co/themes/responsiv-clean/assets/images/web-development/web-development.jpg");
  width: 100%;
  height: 80vh;
  background-size: 100% 100%;
  background-position: cover;
  padding-left: 5rem;
}

.bg-web-icon {
  width: 70px;
  height: 70px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.22);
  background: #fff;
  border-radius: 50%;
  padding: 14px;
  text-align: center;
  line-height: 40px;
}

.bg-web-dev-content {
  transform: translateY(150px);
  display: flex;
  flex-direction: column;
  /* margin-left: 7rem; */
  /* transform: translateX(150px); */
}
.bg-web-dev-content h2 {
  margin-top: 1.5rem;
  /* font-size: 45px; */
  font-weight: 700;
  width: auto;
  color: white;
}

.bg-web-dev-content h5 {
  /* font-size: 20px; */
  margin-top: 1.5rem;
  font-weight: 400;
  width: 80%;
  color: white;
}

.bg-web-dev-content button {
  background-color: #f88379 !important;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  width: 14.9rem;
  letter-spacing: 1px;
  height: 3.5rem;
  border: none;
  margin-top: 1.5rem;
}

.web-dev-sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.web-dev-sec-1 h1 {
  /* font-size: 48px; */
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
}
.web-dev-sec-1 p {
  margin-top: 30px;
  color: black;
  text-align: center;
  opacity: 0.9;
}

.web-dev-sec-2 {
  width: 100%;
  background: #f4f5f8;
  height: max-content;
  padding: 5rem 0;
}

.web-dev-sec-2 h2 {
  text-align: center;
  font-weight: 700;
  line-height: 2rem;
}

.web-dev-sec-2 img {
  width: 50px;
}
.web-dev-sec-2 span {
  font-size: 18px;
  font-weight: 600;
}


.web-dev-section-3 {
  width: 70%;
  margin: 6rem auto;
}

.web-dev-sec-4 {
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.web-dev-4-main {
  box-shadow: 0 4px 9px 0 rgba(23, 28, 33, 0.06);
  padding: 1.5rem;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.web-dev-4-main h2 {
  font-size: 25px;
  line-height: 1.3;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.web-dev-4-main button {
  background-color: #03b4ff;
  width: 14rem;
  height: 3.5rem;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.web-dev-4-main button:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.web-dev-sec-6 {
  height: max-content;
  margin-bottom: 10rem;
}

.web-card-main {
  display: flex;
  flex-wrap: wrap;
}
.web-card-text {
  padding-left: 8rem;
  padding-bottom: 3.5rem;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}

.web-card-text h2 {
  /* margin-left: 5.1rem; */ 
  margin-top: 4rem;
  text-align: left;
  font-weight: bold;
  line-height: 1.285em;
}

.web-card-text h5 {
  padding-top: 3rem;
  width: 77%;
  line-height: 1.7;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.web-dev-sec-7{
    margin-bottom: 8rem;
}

.web-dev-main-7 h1{
    text-align: center;
    font-weight: bolder;
    color: black;
}

.web-dev-main-7 h5{
    width: 60vw;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.9;
    text-align: center;
    margin: 2rem auto;
}

/* .web-card-main img {
  width: 100%;
  height: 80vh;
} */

.web-techno-imgs{
    display: flex;
    justify-content: center;
}

.web-techno-imgs img{
    width: 130px;
}


@media (max-width:1200px){
  /* .web-card-main img {
    width: 72%;
    height: 45vh;
    margin-top: 9rem;
  } */
}

@media (max-width:1000px){
  .web-card-text {
  padding-left: 4rem;
  }
  .web-dev-sec-7{
  }
}
@media (max-width:900px){
  .web-dev-sec-7{
  }
}
/* 
@media (max-width:800px){
 
} */

@media (max-width:768px){
  .web-dev-section-3{
    width: 74%;
    margin: 4rem auto;

  }
  .web-dev-sec-6{
    margin-bottom: 1rem !important;
  }
  .web-dev-main-7{
    margin-top: 3.5rem;
  }
  .web-card-text{
    padding-left: 0.9rem;
  }
  .web-card-text h2{
    width: 100%;
    text-align: center;
  }
  .web-card-text h5{
    width: 95%;
  }
  .web-dev-main-7 h5{
    width: auto;
  }
  /* .web-card-main img{
    width: 90%;
    background-position: center;
    background-size: contain;
    height: 80vh;
    margin: 2rem auto !important;

  } */
}
@media (max-width:768px){
  .bg-web-dev-content h5{
    width: 90% !important;
  }
}
@media (max-width:700px){
  .bg-web-development{
    padding-left: 0px !important;
  }
  .bg-web-dev-content {
    display: flex;
    align-items: center;
    margin: 0px !important;
  }
  .bg-web-dev-content h5{
    text-align: center;
  }
  .bg-web-dev-content button{
    width: 24.5rem;
  }
  .web-dev-sec-2 span{
    font-size: 16px;
  }
  .web-dev-section-3{
    width: 74%;
    margin: 2.2rem auto;

  }
}

@media (max-width:500px){
  .bg-web-dev-content button{
    width: 22.5rem;
  }
}

@media (max-width:425px){
  .bg-web-dev-content button{
    width: 21.5rem;
  }
}

@media (max-width:400px){
  .bg-web-dev-content button{
    width: 20.5rem;
  }
}


@media (max-width:375px){
  .bg-web-dev-content button{
    width: 19.5rem;
  }
}


@media (max-width:350px){
  .bg-web-dev-content button{
    width: 18.5rem;
  }
}








/* 
@media (max-width:991px)
{
  .web-dev-sec-2{
    height: max-content;
  }
  .s-swipe-1{
    height: max-content;
  }
}

@media (max-width:768px){
  .web-dev-sec-1 h2{
    width: 100%;
  }
  
}

@media (max-width:540px){
  .web-dev-sec-2 h2{
    font-size: 30px;
    text-align: center !important;
  }
.getstarted-text{
  margin-bottom: 1.5rem;
}
.dev-eterprise-heading h2{
  font-size: 30px;
}
.dev-enterprise-para-2 h5{
  text-align: center;
}
}

@media (max-width:500px){
  .bg-web-development{
    height: 40rem;
  }
  .bg-web-dev-content p{
    width: 80%;
  }
  .web-dev-sec-1 h2{
    width: 100%;
  }
  .web-dev-4-main h2{ 
    font-size: 22px;
    text-align: center;
}
.web-dev-4-main button{
    margin-top: 20px;
    float: left;
}

}

@media (max-width:360px)
{
  .bg-service-Text h2 {
    font-size: 20px;
    line-height: 28px;
}.bg-service-Text p{
  font-size: 15px;
}
.service-main-text-1 h6{
  font-size: 10px;
}
.service-main-text-2 h2 {
  font-size: 20px;
}
.service-main-text-2 p {
  font-size: 1.2em;
  margin-top: 20px;
  line-height: 1.7em;
  opacity: 1;
  width: 84%;
  text-align: center;
}

} */